# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

Game/.vs/02-Bubble/v14/.suo

Game/02-Bubble.VC.db

Game/02-Bubble/Debug/02-Bubble.log

Game/02-Bubble/Debug/02-Bubble.tlog/CL.command.1.tlog

Game/02-Bubble/Debug/02-Bubble.tlog/CL.read.1.tlog

Game/02-Bubble/Debug/02-Bubble.tlog/CL.write.1.tlog

Game/02-Bubble/Debug/02-Bubble.tlog/link.command.1.tlog

Game/02-Bubble/Debug/02-Bubble.tlog/link.read.1.tlog

Game/02-Bubble/Debug/02-Bubble.tlog/link.write.1.tlog

Game/02-Bubble/Debug/vc140.idb

Game/02-Bubble/Debug/vc140.pdb

Game/Debug/02-Bubble.ilk

Game/Debug/02-Bubble.pdb

Game/02-Bubble/Debug/02-Bubble.Build.CppClean.log

Game/02-Bubble/Debug/02-Bubble.tlog/02-Bubble.lastbuildstate

Game/02-Bubble/sounds/gameplaySounds/Lista3.pdf

*.idb

*.tlog

*.log
